# Ignore macOS Finder files
.DS_Store

# Ignore Python virtual environments
**/.venv/

# Ignore Python cache directories
**/__pycache__

# Ignore VS Code settings folder
**/.vscode/

# Ignore C++ executable files
**/a.out
**/main
**/*.o

# Ignore Java .class files
**/*.class

# Ignore data files
**/*.csv
**/*.txt
**/*.zip
**/*.json
**/*.jsonl
**/*.pem
**/*.db

# Ignore all images
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif