<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1>Weather Report</h1>
            
            <form method="get" action="{{ url_for('get_weather') }}">
                <div class="label-container">
                    <label for="city">Search for a city</label>
                </div>
                <div class="search-row">
                    <input id="city" name="city" type="text" placeholder="Roslyn, New York" required>
                    <button type="submit">Search</button>
                </div>
            </form>

        </header>

        <section class="weather-content">

            {% if error %}
                <p class="error-message"> {{ error }} </p>
            {% endif %}
    
            {% if data %}
            <div class="weather-grid">
                {% for period in data %}
                    <div class="weather-card">
                        <img src="{{ period.icon }}">
                        <p>{{ period.temperature }}°{{ period.temperatureUnit }}</p>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

        </section>
    </body>
</html>
